.search-item-container {
  border: 1px solid #E1E1E1;
  padding: 0.625rem;
  width: fit-content;
  border-radius: 0.5rem;
  color: var(--secondary-light-text);
  font-size: 1.25rem;
  cursor: pointer;
}
