.my-tours-page {
  margin-top: 4rem;
  
  .tour-header {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--dark-text);
    margin-bottom: 2rem;
  }

  .my-tours-container {
    display: grid;
    gap: 2rem;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding-bottom: 4rem;
  }
}
